---
layout: master
---
<div class="row border-bottom pec-topnav">
  <div class="col-sm-4">
    <a href="/">
      <div class="menu-item text-center">
        <h2 class='text-center text-brand'>PECalculator.org</h2>
      </div>
    </a>
  </div>
  <div class="col-sm-2">
    <div class="menu-item disabled text-center">
      <div class="fa fa-calculator fa-2x"></div>
      <h4>Calculators</h4>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="menu-item disabled text-center">
      <div class="fa fa-graduation-cap fa-2x"></div>
      <h4>Resources</h4>
    </div>
  </div>
  <div class="col-sm-2">
    <a href="/blog">
      <div class="menu-item text-center">
        <div class="fa fa-rss fa-2x"></div>
        <h4>Blog</h4>
      </div>
    </a>
  </div>
  <div class="col-sm-2">
    <a href="/contribute">
      <div class="menu-item text-center">
        <div class="fa fa-github fa-2x"></div>
        <h4>Help Out</h4>
      </div>
    </a>
  </div>
</div>
<div class="container">
  {{ content }}
</div><!-- /.container -->
